alias dl="cd ~/Downloads"
alias dev="cd ~/Dev"
alias g="git"
alias h="history"
alias grep='grep --color=auto '
alias hosts='sudo nano /etc/hosts'
alias pullall='find . -type d -depth 1 -exec git --git-dir={}/.git --work-tree=$PWD/{} pull \;'
alias tree="tree -C"
alias ls='lsd'